<template>
    <div>
        <br/>
        <div class="row">
            <div class="col-md-2">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{reportDisplayDrop}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#" v-on:click="changeReportView('Hide')">Hide SVA</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item reportedComplaints" href="#">Critizen Complaints</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" v-on:click="changeReportView('Noise')">View Noise SVA</a>
                        <a class="dropdown-item" href="#" v-on:click="changeReportView('Water Interruption')">View Water Interruption SVA</a>
                        <a class="dropdown-item" href="#" v-on:click="changeReportView('Electrical Interruption')">View Electrical Interruption SVA</a>
                        <a class="dropdown-item" href="#" v-on:click="changeReportView('Flood')">View Flood SVA</a>

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item reportedCrimes" href="#">Critizen Reported Crimes</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" v-on:click="changeReportView('Violence')">View Violence SVA</a>
                        <a class="dropdown-item" href="#" v-on:click="changeReportView('Rape')">View Rape SVA</a>
                        <a class="dropdown-item" href="#" v-on:click="changeReportView('Drugs')">View Drugs SVA</a>
                        <a class="dropdown-item" href="#" v-on:click="changeReportView('Murder')">View Murder SVA</a>

                        <div class="dropdown-divider"></div>
                            <a class="dropdown-item reportedOthers" href="#">Other Report</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" v-on:click="changeReportView('Others')">View Other SVA</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <vue-monthly-picker
                    v-model="selectedMonth"
                    :monthLabels="['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']"
                    @selected="changeMonthView"
                    :value="this.dateValue"
                    >
                </vue-monthly-picker>
            </div>
        </div>
        <br/>
        <gmap-map
        :center="{lat:this.viewLat, lng:this.viewLng}"
        :zoom="this.viewZoom"
        map-type-id="terrain"
        style="width: 100%; height: 600px"
        >

            <gmap-marker
                v-for="(m, index) in this.jsonReportData"
                :key="index"
                :position="{lat:parseFloat(m.lat), lng:parseFloat(m.lng)}"
                :clickable="true"
                :draggable="false"
                :icon="(m.report_type === reportDisplay || reportDisplay == 'Hide') ? markerIcon(m.report_type) + '.png' : markerIcon(m.report_type) + '-fade.png'"
                @click="markerClick(m, index)"
            />

            <gmap-info-window
                :options="infoOptions"
                :position="infoWindowPos"
                :opened="infoWinOpen"
                @closeclick="infoWinOpen=false"
            >
                <!-- <div v-html="infoContent"></div> -->
                <div> 
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img :src="'uploads/' + markerImage[0]" width="100" height="100" alt="Placeholder image" v-on:click="showViewPictureModal('uploads/' + markerImage[0])">
                                <img :src="'uploads/' + markerImage[1]" width="100" height="100" alt="Placeholder image" v-on:click="showViewPictureModal('uploads/' + markerImage[1])" v-if="markerImage[1] != ''">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">{{clickedMarker.report_type}}</p>
                                </div>
                            </div>
                            <div class="content">
                                {{clickedMarker.description}}
                                <br>
                                <time datetime="2016-1-1">{{clickedMarker.created_at}}</time>
                            </div>
                        </div>
                    </div>
                </div>
            </gmap-info-window>

            <!-- dec > 0 -->

            <gmap-polygon 
                v-if="this.samplePolygon1.length > 0 && this.svmShow"
                :paths="this.samplePolygon1"
                :options="{fillColor: this.color1, fillOpacity:0.3, strokeOpacity:0}">
            </gmap-polygon>

            <!-- dec > 1 -->

            <gmap-polygon 
                v-if="this.samplePolygon.length > 0" 
                :paths="this.samplePolygon"
                :options="{fillColor: this.color2, fillOpacity:0.3, strokeOpacity:0}">
            </gmap-polygon>
        </gmap-map>
        <div class="modal fade" id="viewPictureModal" tabindex="-1" role="dialog" aria-labelledby="userModal" aria-hidden="true">
            <div class="modal-dialog view-picture" role="document">
                <div class="modal-content">
                    <img :src="inlargePicture" width="500" height="500" alt="Placeholder image">
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import svm from 'svm';
    import ConvexHullGrahamScan from './graham_scan.js';
    import moment from 'moment';
    
    export default {
        data() {
            return {
                viewLat: 0,
                viewLng: 0,
                viewZoom: 0,
                activeCases: [],
                cases: [
                    { name: 'case A', status: '1' },
                    { name: 'case B', status: '0' }
                ],
                infoOptions: {
                    pixelOffset: {
                        width: 0,
                        height: -35
                    }
                },
                infoContent: '',
                infoWindowPos: {
                    lat: 0,
                    lng: 0
                },
                infoWinOpen: false,
                currentMidx: null,
                clickedMarker: {},
                markerImage: [],
                inlargePicture: '',
                dimensions: {
                    width:500,
                    height:500
                },
                bounds: {
                    minLat: 7.070941,
                    maxLat: 7.046827,
                    maxLng: 125.604953,
                    minLng: 125.575677
                },
                rectangles: [],
                density: 4.0,
                samplePolygon1: [],
                samplePolygon: [],
                svmjs: new svm.SVM(),
                noiceTrainstats: {},
                waterTrainstats: {},
                violenceTrainstats: {},
                electricTrainstats: {},
                floodTrainstats: {},
                othersTrainstats: {},
                svmShow: false,
                svmLabel: "Show Crime Spots",
                reportDisplay: "Hide",
                reportDisplayDrop: "Hide SVA",
                color1: "",
                color2: "",
                reportDisplayDays: this.reportMonth + ' Month',
                selectedMonth: "",
                dateValue: moment(this.reportYear + "-" + this.reportMonth)
            }
        },
        mounted: function() {
            this.$nextTick(function () {
                this.selectedMonth = this.dateValue;
            });
        },
        methods: {
            trainData(type) {
                // Noise
                var Data = [];
                var Labels = [];

                this.samplePolygon1 = [];
                this.samplePolygon = [];
                
                var rbfKernelSigma = 7.9;
                var svmC = 2.0;

                for(var x=0; x<this.jsonReportData.length; x++) {
                    Data.push([this.getX(this.jsonReportData[x].lat), this.getY(this.jsonReportData[x].lng)]);

                    if(this.jsonReportData[x].report_type == type) {
                        Labels.push(-1);
                    }else {
                        Labels.push(1);
                    }
                }

                if(Data.length > 1) {
                    this.svmShow = true;

                    this.noiceTrainstats = this.svmjs.train(Data, Labels, { kernel: 'rbf', rbfsigma: rbfKernelSigma, C: svmC});

                    this.draw();
                }else {
                    this.svmShow = false;
                }
            },

            changeReportView(type) {
                this.reportDisplay = type;

                this.viewAll();

                if(type == "Hide") {
                    this.reportDisplayDrop = "Hide SVA";
                    this.trainData(type);
                }else if(type == "Noise") {
                    this.reportDisplayDrop = "View Noise Reports";
                    this.trainData(type);
                }else if(type == "Water Interruption") {
                    this.reportDisplayDrop = "View Water Interruption Reports";
                    this.trainData(type);
                }else if(type == "Violence") {
                    this.reportDisplayDrop = "View Violence Reports";
                    this.trainData(type);
                }else if(type == "Electrical Interruption") {
                    this.reportDisplayDrop = "View Electrical Interruption Reports";
                    this.trainData(type);
                }else if(type == "Flood") {
                    this.reportDisplayDrop = "View Flood Reports";
                    this.trainData(type);
                }else if(type == "Rape") {
                    this.reportDisplayDrop = "View Rape Reports";
                    this.trainData(type);
                }else if(type == "Robbery") {
                    this.reportDisplayDrop = "View Robbery Reports";
                    this.trainData(type);
                }else if(type == "Drugs") {
                    this.reportDisplayDrop = "View Drugs Reports";
                    this.trainData(type);
                }else if(type == "Murder") {
                    this.reportDisplayDrop = "View Murder Reports";
                    this.trainData(type);
                }else if(type == "Others") {
                    this.reportDisplayDrop = "View Others Reports";
                    this.trainData(type);
                }
            },

            markerIcon(type) {
                if(type == 'Noise') {
                    return "/markers/minimap/noise";
                }else if(type == 'Water Interruption') {
                    return "/markers/minimap/water";
                }else if(type == 'Violence') {
                    return "/markers/minimap/violence";
                }else if(type == 'Electrical Interruption') {
                    return "/markers/minimap/electricity";
                }else if(type == 'Flood') {
                    return "/markers/minimap/flood";
                }else if(type == 'Rape') {
                    return "/markers/minimap/rape";
                }else if(type == 'Robbery') {
                    return "/markers/minimap/robbery";
                }else if(type == 'Drugs') {
                    return "/markers/minimap/drugs";
                }else if(type == 'Murder') {
                    return "/markers/minimap/murder";
                }else if(type == 'Others') {
                    return "/markers/minimap/others";
                }
            },

            draw() { 
                
                var polygon = [];
                var polygon1 = [];

                for(var x=0.0; x<=this.dimensions.width; x+= this.density) {
                    for(var y=0.0; y<=this.dimensions.height; y+= this.density) {

                        var dec= this.svmjs.marginOne([x,y]);

                        if(dec>0) {
                            var xy = {
                                lat: this.getLat(x-this.density/2-1),
                                lng: this.getLng(y-this.density-1)
                            }

                            polygon1.push(xy);
                        }else {
                            // console.log("Dec >");

                            var xy = {
                                lat: this.getLat(x-this.density/2-1),
                                lng: this.getLng(y-this.density-1)
                            }

                            polygon.push(xy);
                        }
                    }
                }

                console.log(polygon1.length);
                console.log(polygon.length);

                if(polygon1.length > polygon.length) {
                    this.color1 = "#38f781";
                    this.color2 = "#FF0000";

                    this.samplePolygon = this.getConvexHullCoords(polygon);
                    this.samplePolygon1 = this.getConvexHullCoords(polygon1);
                }else {
                    this.color1 = "#FF0000";
                    this.color2 = "#38f781";

                    this.samplePolygon = this.getConvexHullCoords(polygon1);
                    this.samplePolygon1 = this.getConvexHullCoords(polygon);
                }
            },
            getConvexHullCoords(coords) {
                const convexHull = new ConvexHullGrahamScan();

                coords.forEach(item => {
                    convexHull.addPoint(item.lng, item.lat);
                });

                return convexHull.getHull().map((item) => {
                    return {
                        lat: item.y,
                        lng: item.x
                    };
                });
            },
            getX(lat) {
                var position = (lat - this.bounds.minLat) / (this.bounds.maxLat - this.bounds.minLat); 
                return this.dimensions.width*position;
            },
            getY(lng) {
                var position = (lng - this.bounds.minLng) / (this.bounds.maxLng - this.bounds.minLng); 
                return this.dimensions.height*position;
            },
            getLat(x) {

                var z = x/this.dimensions.width;

                var lat = (z * (this.bounds.maxLat - this.bounds.minLat)) + this.bounds.minLat;

                return lat;
            },
            getLng(y) {
                var z = y/this.dimensions.width;

                var lng = (z * (this.bounds.maxLng - this.bounds.minLng)) + this.bounds.minLng;

                return lng;
            },
            showDangerSpots() {
                if(this.svmShow) {
                    this.svmShow = false;
                    this.svmLabel = "Show Crime Spots";
                }else {
                    this.svmShow = true;
                    this.svmLabel = "Hide Crime Spots";
                }
            },
            showViewPictureModal(imagePath) {
                // this.itemClicked = id;
                this.inlargePicture = imagePath;

                $('#viewPictureModal').modal('show');
            },
            refreshReport(days) {
                window.location.href="/reports?d=" + days;
            },
            viewAll() {
                this.viewLat = 7.059391;
                this.viewLng = 125.588416;
                this.viewZoom = 15;
            },
            tabChange(val) {
                console.log("Tab Change");
                this.viewLat = parseFloat(this.mapCenterX);
                this.viewLng = parseFloat(this.mapCenterY);
                this.viewZoom = this.zoom;
            },
            markerClick(marker, idx) {

                this.clickedMarker = marker;

                this.markerImage = marker.image_path.split('|');

                this.infoWindowPos = {lat: parseFloat(marker.lat), lng: parseFloat(marker.lng)};
                this.infoContent = this.getInfoWindowContent(marker);
                
                if (this.currentMidx == idx) {
                    this.infoWinOpen = !this.infoWinOpen;
                }else {
                    this.infoWinOpen = true;
                    this.currentMidx = idx;
                }

                this.viewLat = parseFloat(marker.lat);
                this.viewLng = parseFloat(marker.lng);
                this.viewZoom = 20;
            },
            getInfoWindowContent: function (marker) {
                var images = marker.image_path.split('|');

                var imageTag = "";

                if (images.length == 2) {
                    imageTag = `<img src="uploads/${images[0]}" width="100" height="100" alt="Placeholder image" v-on:click.native="showViewPictureModal('uploads/${images[0]}')">
                                <img src="uploads/${images[1]}" width="100" height="100" alt="Placeholder image" v-on:click.native="showViewPictureModal('uploads/${images[0]}')">  
                                `;
                }else {
                    imageTag = `<img src="uploads/${images[0]}" width="100" height="100" alt="Placeholder image">`;
                }

                return (`<div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                        ${imageTag}
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                        <div class="media-content">
                            <p class="title is-4">${marker.report_type}</p>
                        </div>
                        </div>
                        <div class="content">
                        ${marker.description}
                        <br>
                        <time datetime="2016-1-1">${marker.created_at}</time>
                        </div>
                    </div>
                    </div>`);
            },
            changeMonthView(date) {
                console.log(date);

                var month = date.format("MM");
                var year = date.format("YYYY");

                window.location.href="/reports?m=" + month + "&y=" + year;
            },
            clearMonthPicker() {
                this.selectedMonth = null;
            }
        },
        props: [
            'jsonReportData', 
            'reportMonth',
            'reportYear',
            'tabIndex',
            'viewType',
            'mapCenterX',
            'mapCenterY',
            'zoom',
        ],
        watch: {
            tabIndex: function(val, oldVal) {
                for (var i = 0; i < this.cases.length; i++) {
                    if (this.cases[i].status == val) {
                        this.activeCases.push(this.cases[i]);
                        this.tabChange(val);
                    }
                }
            }
        },

    }

    $(document).ready(function() {
        $('#userDataTable').DataTable();
    });
</script>