<template>
    <b-tabs v-model="tabIndex">
        <b-tab title="Datatable View">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Users {{tabIndex}}
            </div>
            <div class="card-body">
                <!-- Date: {{ new Date() }} -->
                <br /> <br /> 
                <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Posted By</th>
                            <th>Description</th>
                            <th>Report Type</th>
                            <!-- <th>Image</th> -->
                            <th>Coordinates</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Posted By</th>
                            <th>Description</th>
                            <th>Report Type</th>
                            <!-- <th>Image</th> -->
                            <th>Coordinates</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr class="template" v-for="item in jsonReportData" :key="item.id">
                            <td>{{item.user.name}}</td>
                            <td>{{item.description}}</td>
                            <td>{{item.report_type}}</td>
                            <!-- <td><a href="javascript:;"> Image </a></td> -->
                            <td>{{item.lat}}, {{item.lng}}</td>
                            <td> 
                                <a href="javascript:;"> <button type="button" class="btn make-schedule-button" v-on:click="viewReport(item.lat, item.lng)"> <span class="fas fa-eye"></span> </button> </a> 
                            </td>
                        </tr>
                    </tbody> 
                </table>
                </div>
            </div>
        </b-tab>
        <b-tab title="Map View">
            <google-map 
                v-bind:mapCenterX=mapCenterX 
                v-bind:mapCenterY=mapCenterY
                v-bind:zoom=zoom 
                v-bind:jsonReportData=jsonReportData 
                v-bind:reportMonth=reportMonth 
                v-bind:reportYear=reportYear
                v-bind:tabIndex=tabIndex
                v-bind:viewType=viewType> 
            </google-map>
        </b-tab>
    </b-tabs>
</template>

<script>
    import bTabs from 'bootstrap-vue/es/components/tabs/tabs';
    import bTab from 'bootstrap-vue/es/components/tabs/tab';

    var demoEvents = [
        {
        title : 'Complaint #1',
        start : '2018-10-25',
        end : '2018-10-25'
        }
    ];

    export default {
        components: {
            'b-tabs': bTabs,
            'b-tab': bTab,
        },
        data () {
            return {
                fcEvents : demoEvents,
                jsonReportData: {},
                mapCenterX: 7.059391,
                mapCenterY: 125.588416,
                zoom: 15,
                tabIndex: 0,
                viewType: 0,
                activeCases: [],
                cases: [
                    { name: 'case A', status: '1' },
                    { name: 'case B', status: '0' }
                ],
            }
        },
        mounted: function() {
            this.jsonReportData = JSON.parse(this.reportData);

            console.log(this.jsonReportData);
        },
        methods: {
            tabChange(index) {
                if (index == 0) {
                    this.zoom = 15;
                    this.mapCenterX = 7.049352;
                    this.mapCenterY = 125.544417;
                }
            },
            viewReport(x, y) {
                this.mapCenterX = x;
                this.mapCenterY = y;
                this.zoom = 20;
                this.tabIndex = 1;
                this.viewType = 1;
            }
        },
        watch: {
            tabIndex: function(val, oldVal) {
                for (var i = 0; i < this.cases.length; i++) {
                    if (this.cases[i].status == val) {
                        this.activeCases.push(this.cases[i]);
                        this.tabChange(val);
                    }
                }
            }
        },
        props: ['reportData', 'reportMonth', 'reportYear'],
    }
</script>