<template>
    <div class="card-body">
        <input type="file" v-on:change="onImageChange1" class="form-control"> <br/>
        <input type="file" v-on:change="onImageChange2" class="form-control"> <br/>
        <input type="file" v-on:change="onImageChange3" class="form-control"> <br/>
        <button type="button" class="btn btn-secondary" @click="uploadImage">Upload Photos</button>
        <br /> <br />
        <!-- <button type="button" class="btn btn-outline-primary" v-on:click="showAnnouncementModal('Add')">Add Announcement</button> 
        <br /> <br /> -->
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Posted By</th>
                        <th>Content</th>
                        <th>Created At</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Posted By</th>
                        <th>Content</th>
                        <th>Created At</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr class="template" v-for="item in jsonAnnouncementData" :key="item.id">
                        <td>{{item.user.name}}</td>
                        <td>{{item.content}}</td>
                        <td>{{item.created_at}}</td>
                        <td> 
                            <a href="javascript:;"> 
                                <button type="button" class="btn btn-outline-primary" v-on:click="displayInHome(item.id)" :disabled="item.home_carousells.length == 1" style="width: 100px"> 
                                    <span class="fas fa-tv" style="font-size: 15px;"></span> 
                                </button> 
                            </a> <br>
                            <a href="javascript:;"> 
                                <button type="button" class="btn btn-outline-primary" v-on:click="editClick(item)" style="width: 100px"> 
                                    <span class="fas fa-pen-alt" style="font-size: 15px;"></span> 
                                </button> 
                            </a> <br>
                            <!-- <a href="javascript:;"> 
                                <button type="button" class="btn btn-outline-danger" v-on:click="popUpYesorNo(item.id, 'deleteAnnouncement', 'Delete Confirmation', 'Do you want to delete this announcement?')" style="width: 100px"> 
                                    <span class="fas fa-times" style="font-size: 15px;"></span> 
                                </button> 
                            </a>  -->
                        </td>
                    </tr>
                </tbody> 
            </table>
        </div>

        <div class="modal fade" id="announcementModal" tabindex="-1" role="dialog" aria-labelledby="announcementModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form v-on:submit.prevent="announcementModalSubmit()">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"> 
                                {{isAddModal ? 'Add Announcement' : isUpdateModal ? 'Update Announcement' : isInfoModal ? 'Announcement Information' : 'Undefind' }} 
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-danger" role="alert" v-if="error.hasError">
                                {{error.errorMessage}}
                            </div>
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-sm-12">
                                        <div class="form-label-group">
                                            <textarea type="text" id="content" class="form-control" placeholder="Content" v-model="content" required :disabled="isInfoModal" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" v-if="isAddModal">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add Announcement</button>
                        </div>
                        <div class="modal-footer" v-if="isUpdateModal">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                        <div class="modal-footer" v-if="isInfoModal">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="popUpYesorNo" tabindex="-1" role="dialog" aria-labelledby="popUpYesorNo" aria-hidden="true">
            <div class="modal-dialog add-modal" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{this.popUp.popUpTitle}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-info" role="alert">
                            {{this.popUp.popUpMessage}}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        <button type="submit" class="btn btn-primary" v-on:click="popUpYesClick()">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                jsonAnnouncementData: {},
                isAddModal: false,
                isUpdateModal: false,
                isInfoModal: false,
                error: {
                    hasError: false,
                    errorMessage: ""
                },
                content: "",
                popUp: {
                    popUpFn: '',
                    popUpTitle: '',
                    popUpMessage: ''
                },
                image1: '',
                image2: '',
                image3: '',
            }
        },
        mounted: function() {
            this.jsonAnnouncementData = JSON.parse(this.announcementData);
        },
        methods: {

            onImageChange1(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage1(files[0]);
            },
            onImageChange2(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage2(files[0]);
            },
            onImageChange3(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage3(files[0]);
            },
            createImage1(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.image1 = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            createImage2(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.image2 = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            createImage3(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.image3 = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            uploadImage(){

                if(this.image1 == "" && this.image2 == "" && this.image3 == "") {
                    alert("You don't have image to upload");
                }else {
                    let images = {
                        image1: this.image1, 
                        image2: this.image2, 
                        image3: this.image3
                    }

                    console.log(images);

                    axios.post('/api/upload-images', images).then(response => {
                        console.log(response);

                        alert(response.data.success);
                    });
                }
            },

            displayInHome(id) {
                var announcementData = {
                    id: id
                }
                
                axios.post('/api/display-announcement', {
                    announcementData: announcementData
                }).then(response => {
                    this.jsonAnnouncementData = response.data;
                }).catch(error => {
                    console.log(error);
                });
            },
            showAnnouncementModal(type) {
                if (type == "Add") {
                    this.isAddModal = true;
                    this.isUpdateModal = false;
                    this.isInfoModal = false;
                    
                    this.clearAnnouncementData();
                }else if (type == "Update") {
                    this.isAddModal = false;
                    this.isUpdateModal = true;
                    this.isInfoModal = false;
                }else if (type == "Info") {
                    this.isAddModal = false;
                    this.isUpdateModal = false;
                    this.isInfoModal = true;
                }

                $('#announcementModal').modal('show');
            },
            announcementModalSubmit() {
                if (this.isAddModal) {
                    this.addAnnouncement();
                }else if (this.isUpdateModal) {
                    this.updateAnnouncement();
                }
            },
            addAnnouncement() {
                var announcementData = {
                    content: this.content
                }
                
                axios.post('/api/insert-announcement', {
                    announcementData: announcementData
                }).then(response => {
                    console.log(response);
                    this.jsonAnnouncementData = response.data;

                    $('#announcementModal').modal('hide');
                    
                    this.clearAnnouncementData();
                }).catch(error => {
                    console.log(error);
                });
            },
            updateAnnouncement() {
                var announcementData = {
                    id: this.rowId,
                    content: this.content,
                }

                axios.post('/api/update-announcement', {
                    announcementData: announcementData
                }).then(response => {
                    this.jsonAnnouncementData = response.data;

                    $('#announcementModal').modal('hide');
                }).catch(error => {
                    console.log(error);
                });
            },
            clearAnnouncementData() {
                this.content = '';
            },
            popUpYesorNo(announcementID, fn, title, message) {

                this.rowId = announcementID;
                this.popUp.popUpFn = fn;
                this.popUp.popUpTitle = title;
                this.popUp.popUpMessage = message;

                $('#popUpYesorNo').modal('show');
            },
            popUpYesClick() {

                if (this.popUp.popUpFn == 'deleteAnnouncement') {
                    axios.post('/api/delete-announcement', {
                        announcementID: this.rowId
                    }).then(response => {
                        this.jsonAnnouncementData = response.data;

                        $('#popUpYesorNo').modal('hide');
                    }).catch(error => {
                        console.log(error);
                    });
                }
            },
            editClick(rowData) {
                this.rowId = rowData.id;
                this.content = rowData.content;

                this.showAnnouncementModal('Update');
            },
        },
        props: ['announcementData'],
    }
</script>