<template>
    <div class="card-body">
        <button type="button" class="btn btn-outline-primary" v-on:click="showUserModal('Add')">Add</button>
        <!-- <button type="button" class="btn btn-outline-primary" v-on:click="test()">Test</button> -->
        <br /> <br /> 
        <div class="table-responsive">
            <table class="table table-bordered" id="userDataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Name</th>
                        <th>Birthdate</th>
                        <th>Address</th>
                        <th>Permission</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Username</th>
                        <th>Name</th>
                        <th>Birthdate</th>
                        <th>Address</th>
                        <th>Permission</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr class="template" v-for="item in jsonData" :key="item.id">
                        <td>{{item.username}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.birthdate}}</td>
                        <td>{{item.address}}</td>
                        <td> <button type="button" class="btn btn-outline-success" v-on:click="openPermissionModal(item)"> View Permission </button> </td>
                        <td> 
                            <a href="javascript:;"> <button type="button" class="btn btn-outline-primary" v-on:click="editClick(item)"> <span class="fas fa-pen-alt"></span> </button> </a> 
                            <a href="javascript:;"> <button type="button" class="btn btn-outline-danger" v-on:click="popUpYesorNo(item.id, 'deleteUser', 'Delete Confirmation', 'Do you want to delete user ' + item.username + '?')"> <span class="fas fa-times"></span> </button> </a> 
                            <a href="javascript:;"> <button type="button" class="btn btn-outline-info" v-on:click="infoClick(item)"> <span class="fas fa-info"></span> </button> </a>
                        </td>
                    </tr>
                </tbody> 
            </table>
        </div>

        <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModal" aria-hidden="true">
            <div class="modal-dialog add-modal" role="document">
                <div class="modal-content">
                    <form v-on:submit.prevent="userModalSubmit()">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"> 
                                {{isAddModal ? 'Add User' : isUpdateModal ? 'Update User' : isInfoModal ? 'User Information' : 'Undefind' }} 
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-danger" role="alert" v-if="error.hasError">
                                {{error.errorMessage}}
                            </div>
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-sm-4">
                                        <div class="form-label-group">
                                            <input type="text" id="username" class="form-control" placeholder="Username" v-model="username" required :disabled="isInfoModal">
                                        </div>
                                    </div>
                                    <div class="col-sm-4" v-if="this.isUpdateModal">
                                        <div class="form-label-group">
                                            <input type="password" id="password" class="form-control" placeholder="Password" v-model="password">
                                        </div>
                                    </div>
                                    <div class="col-sm-4" v-if="this.isUpdateModal">
                                        <div class="form-label-group">
                                            <input type="password" id="confirmpassword" class="form-control" placeholder="Confirm Password" v-model="confirmPassword">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-sm-4">
                                        <div class="form-label-group">
                                        <input type="text" id="firstName" class="form-control" placeholder="Firstname" v-model="firstname" :disabled="isInfoModal">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-label-group">
                                        <input type="text" id="middlename" class="form-control" placeholder="Middlename" v-model="middlename" :disabled="isInfoModal">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-label-group">
                                        <input type="text" id="lastName" class="form-control" placeholder="Lastname" v-model="lastname" :disabled="isInfoModal">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-sm-4">
                                        <div class="form-label-group">
                                        <b-form-input :id="`type-date`" :type="`date`" v-model="birthdate" :disabled="isInfoModal"></b-form-input>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-label-group">
                                        <input type="text" id="address" class="form-control" placeholder="Address" v-model="address" :disabled="isInfoModal">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-label-group">
                                        <input type="email" id="email" class="form-control" placeholder="E-mail" v-model="email" :disabled="isInfoModal">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" v-if="isAddModal">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add User</button>
                        </div>
                        <div class="modal-footer" v-if="isUpdateModal">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                        <div class="modal-footer" v-if="isInfoModal">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="permissionModal" tabindex="-1" role="dialog" aria-labelledby="permissionModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form v-on:submit.prevent="userPermissionSubmit()">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Permission</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                {{rowData.firstname}} {{rowData.lastname}}
                                <hr />
                                <div class="form-row">
                                    <div class="col-sm-6">
                                        <div class="form-label-group">
                                            <label for="resources">Resources</label>
                                            <div class="input-group mb-2 mr-sm-2">
                                                <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <a href="javascript:;"> 
                                                        <span class="fas fa-plus"> </span>
                                                    </a>
                                                </div>
                                                </div>
                                                <select class="form-control" id="resources" v-model="selectedResources">
                                                    <option v-for="item in jsonPermissions" v-bind:value="item.id" :key="item.id">
                                                        {{item.name}}
                                                    </option>
                                                </select>
                                            </div>

                                            <!-- <label for="resources">Resources</label>
                                            <select class="form-control" id="resources" v-model="selectedResources">
                                                <option v-for="item in jsonPermissions" v-bind:value="item.name" :key="item.id">
                                                    {{item.name}}
                                                </option>
                                            </select> -->
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-label-group">
                                            <label for="action">Action</label>
                                            <select class="form-control" id="action" v-model="selectedAction">
                                                <option v-bind:value="'read'"> Read </option>
                                                <option v-bind:value="'write'"> Write </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <!-- <button type="button" class="btn btn-outline-primary" v-on:click="editClick(item)"> <span class="fas fa-plus"></span> Add Permission </button> -->
                                <button type="submit" class="btn btn-outline-primary"> <span class="fas fa-plus"></span> Add Permission </button>
                                <hr />
                                <table class="table table-bordered" id="userDataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Action</th>
                                            <th>Resource</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Action</th>
                                            <th>Resource</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr class="template" v-for="item in rowData.user_permissions" :key="item.id">
                                            <td>{{item.action}}</td>
                                            <td>{{item.permission.name}}</td>
                                            <td> 
                                                <a href="javascript:;"> <button type="button" class="btn btn-outline-primary" v-on:click="editClick(item)"> <span class="fas fa-pen-alt"></span> </button> </a> 
                                                <a href="javascript:;"> <button type="button" class="btn btn-outline-danger" v-on:click="popUpYesorNo(item.id, 'deletePermission', 'Delete Confirmation', 'Do you want to delete permission ' + item.permission.name + '?')"> <span class="fas fa-times"></span> </button> </a> 
                                            </td>
                                        </tr>
                                    </tbody> 
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="popUpYesorNo" tabindex="-1" role="dialog" aria-labelledby="popUpYesorNo" aria-hidden="true">
            <div class="modal-dialog add-modal" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{this.popUp.popUpTitle}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-info" role="alert">
                            {{this.popUp.popUpMessage}}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        <button type="submit" class="btn btn-primary" v-on:click="popUpYesClick()">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/js/gijgo.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"> </script>

<script>
    export default {
        data() {
            return {
                jsonData: {},
                jsonPermissions: {},
                rowData: {},
                isAddModal: false,
                isUpdateModal: false,
                isInfoModal: false,
                rowId: '',
                username: '',
                password: '',
                confirmPassword: '',
                firstname: '',
                middlename: '',
                lastname: '',
                birthdate: '',
                address: '',
                email: '',
                popUp: {
                    popUpFn: '',
                    popUpTitle: '',
                    popUpMessage: ''
                },
                error: {
                    hasError: false,
                    errorMessage: ""
                },
                selectedResources: "1",
                selectedAction: "read"
            }
        },
        mounted: function() {
            this.jsonData = JSON.parse(this.userData);
            this.jsonPermissions = JSON.parse(this.permissionData);
        },
        methods: {
            testChange() {
                this.jsonData = {};
            },
            test() {
                axios.post('/api/check-permission', {
                    permission: 'Admin'
                }).then(response => {
                    console.log(response);
                }).catch(error => {
                    console.log(error);
                });
            },
            openPermissionModal(rowData) {
                this.rowData = rowData;

                $('#permissionModal').modal('show');
            },
            editClick(rowData) {
                this.rowId = rowData.id;
                this.username = rowData.username;
                this.firstname = rowData.firstname;
                this.middlename = rowData.middlename;
                this.lastname = rowData.lastname;
                this.birthdate = rowData.birthdate;
                this.address = rowData.address;
                this.email = rowData.email;

                this.showUserModal('Update');
            },
            infoClick(rowData) {
                this.rowId = rowData.id;
                this.username = rowData.username;
                this.firstname = rowData.firstname;
                this.middlename = rowData.middlename;
                this.lastname = rowData.lastname;
                this.birthdate = rowData.birthdate;
                this.address = rowData.address;
                this.email = rowData.email;

                this.showUserModal('Info');
            },
            userPermissionSubmit() {
                console.log(this.rowData.id);
                console.log(this.selectedResources);
                console.log(this.selectedAction);

                axios.post('/api/assign-permission', {
                    userID: this.rowData.id,
                    permissionID: this.selectedResources,
                    action: this.selectedAction
                }).then(response => {
                    console.log(response);
                    this.jsonData = response.data;

                    $('#permissionModal').modal('hide');
                }).catch(error => {
                    console.log(error);
                });
            },
            userModalSubmit() {
                if (this.isAddModal) {
                    this.addUser();
                }else if (this.isUpdateModal) {
                    this.updateUser();
                }
            },
            addUser() {
                var userData = {
                    username: this.username,
                    firstname: this.firstname,
                    middlename: this.middlename,
                    lastname: this.lastname,
                    birthdate: this.birthdate,
                    address: this.address,
                    email: this.email
                }
                
                axios.post('/api/insert-user', {
                    userData: userData
                }).then(response => {
                    console.log(response);
                    this.jsonData = response.data;

                    $('#userModal').modal('hide');
                    
                    this.clearUserData();
                }).catch(error => {
                    console.log(error);
                });
            },
            updateUser() {
                if (this.password != this.confirmPassword) {
                    this.error.hasError = true;
                    this.error.errorMessage = "Password Mismatch!"
                } else {
                    this.error.hasError = false;
                    this.error.errorMessage = ""

                    var userData = {
                        id: this.rowId,
                        username: this.username,
                        password: this.password,
                        firstname: this.firstname,
                        middlename: this.middlename,
                        lastname: this.lastname,
                        birthdate: this.birthdate,
                        address: this.address,
                        email: this.email
                    }

                    console.log(userData);

                    axios.post('/api/update-user', {
                        userData: userData
                    }).then(response => {
                        console.log(response);
                        this.jsonData = response.data;

                        $('#userModal').modal('hide');
                    }).catch(error => {
                        console.log(error);
                    });
                }
            },
            clearUserData() {
                this.rowId = '';
                this.username = '';
                this.password = '';
                this.confirmPassword = '';
                this.firstname = '';
                this.middlename = '';
                this.lastname = '';
                this.birthdate = '';
                this.address = '';
                this.email = '';
                this.popUp.popUpFn = '';
                this.popUp.popUpTitle = '';
                this.popUp.popUpMessage = '';
                this.error.hasError = false;
                this.error.errorMessage = "";
            },
            showUserModal(type) {
                if (type == "Add") {
                    console.log('Click add');
                    this.isAddModal = true;
                    this.isUpdateModal = false;
                    this.isInfoModal = false;
                    
                    this.clearUserData();
                }else if (type == "Update") {
                    this.isAddModal = false;
                    this.isUpdateModal = true;
                    this.isInfoModal = false;
                }else if (type == "Info") {
                    this.isAddModal = false;
                    this.isUpdateModal = false;
                    this.isInfoModal = true;
                }

                $('#userModal').modal('show');
            },
            popUpYesorNo(userID, fn, title, message) {

                this.rowId = userID;
                this.popUp.popUpFn = fn;
                this.popUp.popUpTitle = title;
                this.popUp.popUpMessage = message;

                $('#popUpYesorNo').modal('show');
            },
            popUpYesClick() {

                if (this.popUp.popUpFn == 'deleteUser') {
                    axios.post('/api/delete-user', {
                        userID: this.rowId
                    }).then(response => {
                        console.log(response);
                        this.jsonData = response.data;

                        $('#popUpYesorNo').modal('hide');
                    }).catch(error => {
                        console.log(error);
                    });
                } else if(this.popUp.popUpFn == 'deletePermission') {
                    axios.post('/api/delete-user-permission', {
                        userPermissionID: this.rowId
                    }).then(response => {
                        console.log(response);

                        this.rowData = response.data;

                        $('#popUpYesorNo').modal('hide');
                    });
                }
            }
        },
        props: ['userData', 'permissionData'],

    }

    $(document).ready(function() {
        $('#userDataTable').DataTable();
    });
</script>

<link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">