<template>
    <b-tabs>
        <b-tab title="Today" active>
            <div class="card-header">
                <i class="fas fa-table"></i>
                Users
            </div>
            <div class="card-body">
                <!-- Date: {{ new Date() }} -->
                <br /> <br /> 
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Posted By</th>
                                <th>Complaint</th>
                                <th>Respondent</th>
                                <th>Address</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Posted By</th>
                                <th>Complaint</th>
                                <th>Respondent</th>
                                <th>Address</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr class="template" v-for="item in jsonComplaintData" :key="item.id">
                                <td>{{item.user.name}}</td>
                                <td>{{item.complaint}}</td>
                                <td>{{item.respondent}}</td>
                                <td>{{item.address}}</td>
                                <td> 
                                    <a href="javascript:;">
                                        <button type="button" class="btn make-schedule-button" v-on:click="showMakeScheduleModal(item.id)"> 
                                            Make a schedule 
                                            <img style="width: 20px;" src="/icons/complaints_icon/schedule-icon.png" /> 
                                        </button>
                                    </a>
                                    <a href="javascript:;"> <button type="button" class="btn make-schedule-button"> <span class="fas fa-eye"></span> </button> </a> 
                                </td>
                            </tr>
                        </tbody> 
                    </table>
                </div>
            </div>
        </b-tab>
        <b-tab title="View Calendar" >
            <full-calendar :events="fcEvents" locale="en"> </full-calendar>
        </b-tab>

        <div class="modal fade" id="makeScheduleModal" tabindex="-1" role="dialog" aria-labelledby="userModal" aria-hidden="true">
            <div class="modal-dialog make-schedule" role="document">
                <div class="modal-content">
                    <form v-on:submit.prevent="makeScheduleSubmit()">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"> 
                                Make a Schedule
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <full-calendar id="scheduler" :events="fcEventsPicker" :config="config" locale="en" @dayClick="selectedDate"> </full-calendar>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </b-tabs>
</template>

<script>
    import bTabs from 'bootstrap-vue/es/components/tabs/tabs';
    import bTab from 'bootstrap-vue/es/components/tabs/tab';
    import moment from 'moment';
    import fullCalendar from 'vue-fullcalendar';

    export default {
        components: {
            'b-tabs': bTabs,
            'b-tab': bTab,
        },
        data () {
            return {
                fcEvents : [],
                config: {
                    selectable: true
                },
                fcEventsPicker: [],
                jsonComplaintData: {},
                itemClicked: 0,
            }
        },
        mounted: function() {
            this.fcEvents = JSON.parse(this.complaintSchedule);
            this.fcEventsPicker = JSON.parse(this.complaintSchedule);
            this.jsonComplaintData = JSON.parse(this.complaintData);
        
            console.log(JSON.parse(this.complaintSchedule));
        },
        methods: {
            showMakeScheduleModal(id) {
                this.itemClicked = id;

                $('#makeScheduleModal').modal('show');
            },
            selectedDate(date, jsEvent, view) {
                if(moment(date).format('YYYY-MM-DD') >= moment().format('YYYY-MM-DD')) {
                    var requestData = {
                        id: this.itemClicked,
                        schedule: moment(date).format('YYYY-MM-DD'),
                    }
                    
                    axios.post('/api/make-schedule', {
                        requestData: requestData
                    }).then(response => {
                        var result = response.data;
                        if(result.result) {
                            alert(result.result);
                        }else {
                            this.fcEvents = response.data;
                            this.fcEventsPicker = response.data;
                        }
                    }).catch(error => {
                        console.log(error);
                    });
                }else {
                    alert("You can't schedule past dates");
                }
            }
        },
        props: ['complaintData', 'complaintSchedule'],
    }
</script>