.navbar-ibms {
    background-color:#474646;
    background-image: none;
    background-repeat: no-repeat;
}

.navbar-brand {
    color: #4DA532;
}

.nav-link {
    color: rgb(241, 241, 241);
}

.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}

.fc-scroller { overflow-x: visible !important; }

.make-schedule {
    max-width: 1000px !important;
    // margin: auto;
}

.full-calendar-body .dates .dates-events .events-week .events-day {
    min-height: 100px !important;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.navbar-brand .logo {
    padding: 5px;
    width: 40px;
    height: 40px;
}

.navbar-brand .logo-dash {
    padding: 5px;
    width: 40px;
    height: 40px;
}

.login-logo {
    width: 150px;
    height: 150px;
}

.make-schedule-button {
    background-color:#00a651; 
    color: white;
}

.menu-text-wrap {
    height: 56px;
}

.user-menu {
    margin-top: 10px;
}

.sidebar-sticky {
    background-color: #3d9368;
}

.sidebar {
    margin-top: 8px;
}

.sidebar .nav-link {
    color: white !important;
    font-size: 20px;
}

.sidebar .nav-link.active {
    color: #883934 !important;
}

.reportedComplaints { 
    background-color: #deff3a; 
    color: black;
}

.reportedComplaints:hover {
    background-color: #deff3a; 
}

.reportedCrimes { 
    background-color: #c63b55; 
    color: white;
}

.reportedCrimes:hover { 
    background-color: #c63b55;
    color: white;
}

.reportedOthers { 
    background-color: #693bc6; 
    color: white;
}

.reportedOthers:hover { 
    background-color: #693bc6; 
    color: white;
}

.month-picker-container[data-v-201d773d] {
    position: absolute;
    top: 3.5em;
    z-index: 999 !important;
    background-color: white !important;
}