<template>
    <li class="nav-item text-nowrap" v-if="(this.jsonNotification.length != 0)">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="/icons/notificationbellicon.png" style="width: 60px; height: 40px;">
                    <span class="badge badge-notify">{{this.jsonNotification.length}}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" :href="notification.link + '?n=' + notification.id" v-for="(notification, index) in this.jsonNotification" :key="index">
                        {{notification.details}}
                    </a>
                </div>
            </li>
        </ul>
    </li>
</template>

<script>
    export default {
        data () {
            return {
                jsonNotification : {}
            }
        },
        mounted: function() {
            this.jsonNotification = JSON.parse(this.notification);

            console.log(this.jsonNotification.length);

            this.$nextTick(function () {
                window.setInterval(() => {
                    this.refreshNotification();
                },1000);
            })
        },
        methods: {
            refreshNotification() {
                axios.post('/api/get-notification', {
                    permission: 'Admin'
                }).then(response => {
                    this.jsonNotification = response.data;
                }).catch(error => {
                    console.log(error);
                });
            }
        },
        props: ['notification']
    }
</script>