<template>
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <!-- <li class="nav-item">
                    <a :class="['nav-link', page=='user-manager'?'active':'']" href="/user-management">
                        <span class="fas fa-users"></span>
                        Manage Users
                    </a>
                </li> -->
                <li class="nav-item">
                    <a :class="['nav-link', page=='complaints'?'active':'']" href="/complaints">
                        <span class="fas fa-assistive-listening-systems"></span>
                        Complaints
                    </a>
                </li>
                <li class="nav-item">
                    <a :class="['nav-link', page=='reports'?'active':'']" href="/reports">
                        <span class="fas fa-bullhorn"></span>
                        Reports
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</template>

<script>
    export default {
        props: ['page']
    }
</script>