<template>
    <div class="row">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <form method="post">
                <div class="row">
                    <!-- <div class="col-md-4">
                        <div class="profile-img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
                            <div class="file btn btn-lg btn-primary">
                                Change Photo
                                <input type="file" name="file"/>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-md-12">
                        <div class="profile-head">
                            <h5>
                                {{ JSONUserData.firstname }} {{ JSONUserData.lastname }}
                            </h5>
                            <h6>
                                <!-- Web Developer and Designer -->
                            </h6>
                            <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                                <!-- <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="profile-edit-btn" v-on:click="showChangePasswordModal()">
                                Change Password
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <!-- <div class="profile-work">
                            <p>WORK LINK</p>
                            <a href="">Website Link</a><br/>
                            <a href="">Bootsnipp Profile</a><br/>
                            <a href="">Bootply Profile</a>
                            <p>SKILLS</p>
                            <a href="">Web Designer</a><br/>
                            <a href="">Web Developer</a><br/>
                            <a href="">WordPress</a><br/>
                            <a href="">WooCommerce</a><br/>
                            <a href="">PHP, .Net</a><br/>
                        </div> -->
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>User Id</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ JSONUserData.username }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ JSONUserData.firstname }} {{ JSONUserData.middlename }} {{ JSONUserData.lastname }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ JSONUserData.email }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Birthdate</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ JSONUserData.birthdate }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Address</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ JSONUserData.address }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src="/images/img2.jpg" alt="sample">
                                    <img class="card-img-top" src="/images/img2.jpg" alt="sample">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </main>
        <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="userModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form v-on:submit.prevent="changePasswordModalSubmit()">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"> 
                                Change Password
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-danger" role="alert" v-if="error.hasError">
                                {{error.errorMessage}}
                            </div>
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-sm-6">
                                        <div class="form-label-group">
                                            <input type="password" id="password" class="form-control" placeholder="Password" v-model="password">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-label-group">
                                            <input type="password" id="confirmpassword" class="form-control" placeholder="Confirm Password" v-model="confirmPassword">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                JSONUserData: {},
                password: '',
                confirmPassword: '',
                error: {
                    hasError: false,
                    errorMessage: ""
                }
            }
        },
        mounted: function() {
            this.JSONUserData = JSON.parse(this.userData);
        },
        methods: {
            showChangePasswordModal() {
                $('#changePasswordModal').modal('show');
                this.error.hasError = false;
                this.password = "";
                this.confirmPassword = "";
            },
            changePasswordModalSubmit() {
                if(this.password == this.confirmPassword) {
                    var userData = {
                        password: this.password
                    }

                    axios.post('/api/change-password', {
                        userData: userData
                    }).then(response => {
                        console.log(response);
                        this.jsonData = response.data;

                        $('#changePasswordModal').modal('hide');
                    }).catch(error => {
                        console.log(error);
                    });
                }else {
                    this.error.hasError = true;
                    this.error.errorMessage = "Password Missmatch";
                }
            }
        },
        props: ['userData']
    }
</script>