<template>
    <div class="card-body">
        <button type="button" class="btn btn-outline-primary" v-on:click="showBudgetModal()">Edit</button> <br /> <br />

        <canvas id="myAreaChart" width="100%" height="50"></canvas>

        <div class="modal fade" id="budgetTableModal" tabindex="-1" role="dialog" aria-labelledby="budgetTableModal" aria-hidden="true">
            <div class="modal-dialog budget-table" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Population Table</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered" id="userDataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Color</th>
                                    <th>Label</th>
                                    <th>Value</th>
                                    <th>Last Updated</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Color</th>
                                    <th>Label</th>
                                    <th>Value</th>
                                    <th>Last Updated</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr class="template" v-for="item in jsonCrimeData" :key="item.id">
                                    <td :style="{backgroundColor: item.color}"></td>
                                    <td>{{item.label}}</td>
                                    <td>{{item.value}}</td>
                                    <td>{{item.updated_at}}</td>
                                    <td> 
                                        <button type="button" class="btn btn-secondary" v-on:click="editClick(item)"> <i class="fas fa-pen"></i> </button>
                                        <button type="button" class="btn btn-danger" v-on:click="popUpYesorNo(item.id, 'deleteBudget', 'Delete Confirmation', 'Do you want to delete budget ' + item.label + '?')"> <i class="fas fa-trash-alt"></i> </button>
                                    </td>
                                </tr>
                            </tbody> 
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" v-on:click="showAddBudgetModal()"> <i class="fas fa-plus"></i> </button>
                        

                        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        <button type="submit" class="btn btn-primary" v-on:click="test()">Yes</button> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addBudgetModal" tabindex="-1" role="dialog" aria-labelledby="addBudgetModal" aria-hidden="true">
            <div class="modal-dialog budget-table" role="document">
                <div class="modal-content">
                    <form v-on:submit.prevent="addBudgetSubmit()">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Budget</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-sm-4">
                                    <div class="form-label-group">
                                        <input type="text" id="label" class="form-control" placeholder="Label" v-model="label" required>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-label-group">
                                        <input type="text" id="value" class="form-control" placeholder="Value" v-model="value" required>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-label-group">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <colorpicker :color="colorVal" v-model="colorVal" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary"> Submit </button>
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="updateBudgetModal" tabindex="-1" role="dialog" aria-labelledby="updateBudgetModal" aria-hidden="true">
            <div class="modal-dialog budget-table" role="document">
                <div class="modal-content">
                    <form v-on:submit.prevent="updateBudgetSubmit()">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Update Budget</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-sm-4">
                                    <div class="form-label-group">
                                        <input type="text" id="label" class="form-control" placeholder="Label" v-model="label" required>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-label-group">
                                        <input type="text" id="value" class="form-control" placeholder="Value" v-model="value" required>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-label-group">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <colorpicker :color="colorVal" v-model="colorVal" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary"> Save </button>
                        

                        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        <button type="submit" class="btn btn-primary" v-on:click="test()">Yes</button> -->
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="popUpYesorNo" tabindex="-1" role="dialog" aria-labelledby="popUpYesorNo" aria-hidden="true">
            <div class="modal-dialog add-modal" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{this.popUp.popUpTitle}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-info" role="alert">
                            {{this.popUp.popUpMessage}}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        <button type="submit" class="btn btn-primary" v-on:click="popUpYesClick()">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                jsonCrimeData: [],
                label: "",
                value: "",
                colorVal: "",
                rowId: '',
                popUp: {
                    popUpFn: '',
                    popUpTitle: '',
                    popUpMessage: ''
                },
                labelList: [],
                valueList: [],
                colorList: [],
            }
        },
        mounted: function() {
            this.jsonCrimeData = JSON.parse(this.populationData);

            this.updateBudgetPie();
        },
        methods: {
            updateBudgetPie() {
                this.labelList = [];
                this.valueList = [];
                this.colorList = [];

                for(var x = 0; x < this.jsonCrimeData.length; x+=1) {
                    this.labelList.push(this.jsonCrimeData[x].label);
                    this.valueList.push(this.jsonCrimeData[x].value);
                    this.colorList.push(this.jsonCrimeData[x].color);
                }

                var ctx = document.getElementById("myAreaChart");
                var myBarChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: this.labelList,
                        datasets: [{
                            label: "Population",
                            lineTension: 0.3,
                            data: this.valueList,
                            backgroundColor: "rgba(2,117,216,0.2)",
                            borderColor: this.colorList,
                            pointRadius: 5,
                            pointBackgroundColor: this.colorList,
                            pointBorderColor: "rgba(255,255,255,0.8)",
                            pointHoverRadius: 5,
                            pointHoverBackgroundColor: this.colorList,
                            pointHitRadius: 50,
                            pointBorderWidth: 2,
                        }],
                    },
                    options: {
                        scales: {
                        xAxes: [{
                            time: {
                            unit: 'Crime'
                            },
                            gridLines: {
                            display: false
                            },
                            ticks: {
                            maxTicksLimit: 6
                            }
                        }],
                        yAxes: [{
                            ticks: {
                            min: 0,
                            max: 500000,
                            maxTicksLimit: 5
                            },
                            gridLines: {
                            display: true
                            }
                        }],
                        },
                        legend: {
                        display: false
                        }
                    }
                });
            },
            showBudgetModal() {
                $('#budgetTableModal').modal('show');
            },
            showAddBudgetModal() {
                console.log("Add click");

                this.label = "";
                this.value = "";
                this.colorVal = "#000000";
                
                $('#addBudgetModal').modal('show');
            },
            editClick(rowData) {
                this.rowId = rowData.id;
                this.label = rowData.label;
                this.value = rowData.value;
                this.colorVal = rowData.color;

                $('#updateBudgetModal').modal('show');
            },
            popUpYesorNo(rowID, fn, title, message) {

                this.rowId = rowID;
                this.popUp.popUpFn = fn;
                this.popUp.popUpTitle = title;
                this.popUp.popUpMessage = message;

                $('#popUpYesorNo').modal('show');
            },
            popUpYesClick() {

                if (this.popUp.popUpFn == 'deleteBudget') {
                    axios.post('/api/delete-population', {
                        budgetID: this.rowId
                    }).then(response => {
                        console.log(response);
                        this.jsonCrimeData = response.data;

                        this.updateBudgetPie();

                        $('#popUpYesorNo').modal('hide');
                        location.reload();
                    }).catch(error => {
                        console.log(error);
                    });

                    console.log("Delete");
                    $('#popUpYesorNo').modal('hide');
                }
            },
            addBudgetSubmit() {

                var formData = {
                    label: this.label,
                    value: this.value,
                    color: this.colorVal,
                }

                axios.post('/api/add-population', {
                    formData: formData
                }).then(response => {
                    console.log(response);
                    this.jsonCrimeData = response.data;

                    this.updateBudgetPie();

                    $('#addBudgetModal').modal('hide');
                    location.reload();
                }).catch(error => {
                    console.log(error);
                });
            },
            updateBudgetSubmit() {

                var formData = {
                    id: this.rowId,
                    label: this.label,
                    value: this.value,
                    color: this.colorVal,
                }

                axios.post('/api/update-population', {
                    formData: formData
                }).then(response => {
                    console.log(response);
                    this.jsonCrimeData = response.data;

                    this.updateBudgetPie();

                    $('#updateBudgetModal').modal('hide');
                    location.reload();
                }).catch(error => {
                    console.log(error);
                });
            },
        },
        props: ['populationData'],
    }
</script>