<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-avatar id="profile-info">
        <img id="profile-image" src="assets/empty-photo.jpg">
      </ion-avatar>
      <ion-card-title>Firstname Lastname</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
