<template>
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a :class="['nav-link', page=='admin-dashboard'?'active':'']" href="/admin/dashboard">
                    <span class="fas fa-tachometer-alt"></span>
                    Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a :class="['nav-link', page=='admin-user-permission'?'active':'']" href="/admin/user-permission">
                        <span class="fas fa-users"></span>
                        Manage Users and Permissions
                    </a>
                </li>
                <li class="nav-item">
                    <a :class="['nav-link', page=='admin-announcement'?'active':'']" href="/admin/announcement">
                    <span class="fas fa-bullhorn"></span>
                    Announcement
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</template>

<script>
    export default {
        props: ['page']
    }
</script>